@import '../../global/library';

.main__container {
  @include flex(space-between);
  background: linear-gradient(rgba(203, 197, 188, 0.4) 50%,rgba(17, 17, 17, 0.4) 100%), url(../../assets/img/background.jpg) repeat center;
  display: flex;
  flex-direction: column;
}
.card-list {
  @include flex(space-evenly);
  flex-wrap: wrap;
  gap: 30px 30px;
}