@import '../../global/library';

.main__container {
  @include flex(space-between);
  background: linear-gradient(rgba(35, 35, 35, 0.4) 50%,rgba(17, 17, 17, 0.5) 100%), url(../../assets/img/background.jpg) repeat repeat;
  background-size: 380px auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card-list {
  @include flex(space-evenly);
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px 3vw;
  margin: 20px;
}
.please-wait {
  color: wheat;
  margin: 100px auto;
  width: 60%;
}
