@import '../../global/library';

$CARD-WIDTH: 310px;

.card {
  width: $CARD-WIDTH;
  background-color: rgba(103, 93, 93, 0.7);
  &:hover {
    box-shadow: 0px 0px 18px 4px rgba(238, 237, 237, 0.9);
    background-color: rgba(103, 93, 93, 0.8);
  }
  .card-img {
    margin: 30px auto 0;
    width:85%;
    height: 370px;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 10px 5px rgba(196, 194, 194, 0.6)
    }
  }
  .card-icon {
    height: 55px;
    margin: 6px;
    width: auto;
  }
  div .card__title-name {
    max-height: 65px;
    overflow: overlay;
  }
  .MuiCardContent-root .card__title-content {
    @include flex(space-evenly);
    color: $MAIN-COLOR--PRIMARY-LIGHT;
    margin: 10px 0 0 0;
    padding: 1px;
    box-shadow: inset 0px 0px 6px 3px rgba(28, 28, 28, 0.75);
    border-radius: 10px;
    background: rgba(220, 220, 220, 0.5);
  }
  .MuiCardContent-root .card__dropp-container {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    .wand__continer {
      background-color: rgba(22, 22, 22, 0.75);
      color: wheat;
      border-radius: 10px;
      padding: 5px;
      .MuiTypography-paragraph {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .card__dropp-content-row {
      @include flex(space-evenly);
      width: 100%;
    }
  }
  .MuiButtonBase-root {
    background-color: rgba(202, 234, 250, 0.6);
    &:hover {
      background-color: rgba(225, 225, 225, 0.8);
    }
  }
}
.card-list .card {
  background-color: rgba(103, 93, 93, 0.7);
  &:hover {
    background-color: rgba(54, 53, 53, 0.7);
  }
}
.MuiTypography-paragraph {
  width: 50%;
  margin-bottom: 5px;
}
.modal-card__container {
  width: 60vw;
  background-color: wheat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 10px;
  padding: 10px;
  min-height: 20px;
  .modal-card__title {
    width: 100%;
    color: $MAIN-COLOR--PRIMARY;
  }
}
.modal-card {
  overflow-y: auto;
  margin: 0 auto;
  max-height: 20vh;
  width: 90%;
  .MuiTypography-paragraph {
    width: 90%;
    margin-bottom: 1px;
  }
}
