@import '../../global/library';

$INPUT-BUTTON--HEIGHT: 30px;
$SEARCH-CONTAINER--WIDTH: 50vw;
$SEARCH-CONTAINER--MAX-WIDTH: 320px;

.search-container {
  width: $SEARCH-CONTAINER--WIDTH;
  max-width: $SEARCH-CONTAINER--MAX-WIDTH;
  padding: 8px;
  margin-top: 15px;
  background-color: rgba(252, 230, 215, 0.95);
  border: 1px solid $MAIN-COLOR--SECONDARY;
  border-radius: 30px;
  padding-left: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  color: $MAIN-COLOR--PRIMARY-DARK;
  form {
    width: 99%;
  }
  .search-input {
    background-color: transparent;
    border: 0;
    width: 87%;
    @include font(18px, Lumos);
    color: rgb(0, 0, 0);
    &:active, &:hover, &:focus {
      outline: 0;
      outline-offset: 0;
      cursor: inherit;
    }
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      height: 15px;
      width: 15px;
      background: (url('../../assets/icons/close-button.png') no-repeat);
      background-size: 15px 15px;
    }
  }
  .search-container__button {
    border-radius: 30px;
    @include font(18px, Lumos);
    width: $INPUT-BUTTON--HEIGHT;
    height: $INPUT-BUTTON--HEIGHT;
    color: $MAIN-COLOR--SECONDARY-LIGHT;
    border: none;
    background-color: $MAIN-COLOR--PRIMARY-DARK;
    cursor: inherit;
    &:hover {
      box-shadow: inset 0px 0px 5px 1px rgba(242, 161, 55, 0.8);
    }
    &:active {
      color: $MAIN-COLOR--PRIMARY;
    }
  }
  form {
    @include flex(space-between);
  }
}
